.stock-element0 {
  color: black;
  background-color: #ffb3b3; }

.stock-element1 {
  color: black;
  background-color: #ff1a8c; }

.stock-element2 {
  color: black;
  background-color: #99ff66; }

.stock-element3 {
  color: black;
  background-color: #3399ff; }

.stock-element4 {
  color: black;
  background-color: #40bf40; }

.stock-element5 {
  color: black;
  background-color: #ff80ff; }
